@font-face {
    font-family: "Silkscreen";
    src: url(./fonts/slkscre.ttf) format("truetype");
    font-family: "PressStart";
        src: url(./fonts/PressStart2P-Regular.ttf) format("truetype");
}
body {
    margin: 0;
    padding: 0;
    text-align: center;
    overflow: hidden;
    background: url("./images/twin\ peaks\ red\ room.jpeg");  
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-flow: column;
    align-items: center;
    z-index: 0;
}
h1 {
    color: #14A61D;
    text-shadow: 4px 3px 0px #073709;
    font-family: "PressStart", sans-serif;
    position:absolute;
    align-items: center;
    top: 50px;
    left: 32%;
}
h2 {
    color: #FDFBFB;
    text-shadow: 4px 3px 0px #040404;
    font-family: "PressStart", sans-serif;
    position: absolute;
    top: 150px;
    left: 20%;
}
.cooperLogo {
    height: 500px;
    margin-top: 400px;
    margin-left: 70px;
}
#intro-buttons {
    margin-top: 300px;
}
#splash-screen {
    display: flex;
    align-items: center;
    height: 800px;
    width: 800px;
    background-image: url("./images/twinpeaksRR1.jpg");  
    /* background-position: center;*/
}

#game-screen {
    display: none;
    position: relative;
    align-content: center;
    overflow: hidden;
    top: 31px;
    background-image: url("./images/twinpeaksRR2.jpg");
    background-size: cover;
    z-index: 1;
}

#scoreTimer {
    display: none;
    color: #FDFBFB;
    text-shadow: 4px 3px 0px #040404;
    font-family: "PressStart", sans-serif;
    z-index: 3;
    
}

#score  {
    display: none;
    color: #FDFBFB;
    text-shadow: 4px 3px 0px #040404;
    font-family: "PressStart", sans-serif;
    z-index: 2;
}
#timer {
    display: none;
    color: #FDFBFB;
    text-shadow: 4px 3px 0px #040404;
    font-family: "PressStart", sans-serif;
}

/*
#gameplay {
    display: none;
    width: 100vw;
    padding: 0;
    justify-content: center;
    background-image: url("/images/twinpeaksRR1.jpg");
}*/

#game-over {
    display: none;
}

button {
    display: inline-block;
    position: relative;
    background-color: #870007;
    border: none;
    margin: 15px;
    text-align: center;
    font-size: 22px;
    padding: 20px;
    width: 300px;
    height: 80px;
    font-family: "PressStart";
    text-decoration: none;
    color: #FDFBFB;
    box-shadow: inset -5px -5px 0px 0px #540004;
}

button:hover{
        background-color: #861016;
        box-shadow: inset 5px 5px 0px 0px #540004;
}

button:active {
        background-color: #B30F0F;
        box-shadow: inset -5px -5px 0px 0px #540004;
}

button:before, 
button:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      box-sizing: content-box;
}

button:before {
      top: -7px;
      left: 0;
      border-top: 7px #040404 solid;
      border-bottom: 7px #040404 solid;
}

button:after {
      left:-7px;
      top: 0;
      border-left: 7px #040404 solid;
      border-right: 7px #040404 solid;
}